//COLORS
$color-primary: rgba(8, 70, 112, 0.938);
$color-primary-light: rgba(11, 101, 161, 0.979);
$color-primary-dark: rgba(4, 37, 59, 0.959);

$color-secondary-light: rgba(255, 187, 0, 0.973);
$color-secondary-dark: rgba(255, 116, 42, 0.98);

$color-tertiary-light: rgba(114, 228, 94, 0.973);
$color-tertiary-dark: rgba(40, 185, 137, 0.952);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;


//FONT-SIZE
$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;